	<section>

		<div class="popUpSmall" id="popUpConainerTrigger">
				<img src="img/online.svg" alt="online">
				<span>Alex Ivanov</span>
  	  	<a href="javascript:PopUpShow()">
					<img src="img/minus.svg" alt="minus" id="winIcon">
				</a>
    </div>

    <div class="popUpChatContainer" id="popUpChatTrigger">
    	<div class="popUpContent">
				 <div class="popUpChatHeader">
					 <img src="img/online.svg" alt="online">
					 <span>Alex Ivanov</span>
					 <a href="javascript:PopUpHide()">
						 <img src="img/cross.svg" alt="cross" id="winIcon">
					 </a>
    	   </div>
				 <div class="textOutput">
					 		<div class="chatMessageFriend">
								<div class="chatMsgFphoto">
									<img src="img/Mask.svg" alt="mask">
									<span class="time">
										1:32
									</span>
								</div>

								<span class="tOmsg">
								<p>	Hi Alex, how it's going? Somthing new?</p>
								</span>
							</div>

							<div class="chatMessageMy">
								<p>
									Hello Ivanna !!!
								</p>
								<p>
									Great, thanks for asking. What about you?
								</p>
								<p>
									Can you help me?
								</p>
							</div>
				 </div>

				 <span class="clear"></span>

				 <hr>

				 <div class="textInput">
					 <textarea rows="2" cols="35" name="textInput" placeholder="Type something…"></textarea>
					 <div class="textInputFooter">
						 <img src="img/Add.svg" alt="add">
						 <img src="img/emoji.svg" alt="emoji">
					 </div>
				 </div>
    	</div>
    </div>

	</section>
